@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.header {
  background-color: #718355;
  color: #e9f5db;
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 80%;
  padding-left: 2.5%;
}

.header__projectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20%;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 100vw;
}

.mainContainer__projectListDiv {
  height: 100%;
  max-width: 350px;
  min-width: 350px;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer__projectListDiv__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 20px 0%;
}

.mainContainer__projectListDiv__input form {
  width: 100%;
}

.mainContainer__projectListDiv__input form input {
  margin-top: 5px;
  font-size: 1.5rem;
  width: 100%;
  background-color: #718355;
  border: none;
  height: 30px;
  color: #e9f5db;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
}

.mainContainer__projectListDiv__input form input::-webkit-input-placeholder {
  color: #e9f5db;
}

.mainContainer__projectListDiv__input form input:-ms-input-placeholder {
  color: #e9f5db;
}

.mainContainer__projectListDiv__input form input::-ms-input-placeholder {
  color: #e9f5db;
}

.mainContainer__projectListDiv__input form input::placeholder {
  color: #e9f5db;
}

.mainContainer__projectListDiv__input form button {
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.mainContainer__projectListDiv__projectList {
  width: 80%;
}

.mainContainer__projectListDiv__projectList__projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  height: 40px;
  margin-top: 5px;
}

.mainContainer__projectListDiv__projectList__projectContainer .projectName {
  padding-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.5rem;
  background-color: #f6f2f0;
}

.mainContainer__projectListDiv__projectList__projectContainer .projectName:hover {
  cursor: pointer;
  background-color: #718355;
}

.mainContainer__projectListDiv__projectList__projectContainer .projectDeleteButton {
  color: #f6f2f0;
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 0px 5px 5px 0px;
  background-color: #f6f2f0;
}

.mainContainer__projectListDiv__projectList__projectContainer .projectDeleteButton:hover {
  cursor: pointer;
  color: #ee5a5a;
}

.mainContainer__projectListDiv__projectList__projectContainer:hover .projectName {
  color: #e9f5db;
  background-color: #718355;
}

.mainContainer__projectListDiv__projectList__projectContainer:hover .projectDeleteButton {
  background-color: #718355;
}

.mainContainer__projectListDiv__projectList__projectContainerStatic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  margin-top: 5px;
}

.mainContainer__projectListDiv__projectList__projectContainerStatic .projectName {
  border-radius: 5px;
  padding-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #f6f2f0;
}

.mainContainer__projectListDiv__projectList__projectContainerStatic .projectName:hover {
  cursor: pointer;
  color: #e9f5db;
  background-color: #718355;
}

.mainContainer__taskListDiv {
  height: 100%;
  min-width: 76%;
  overflow: auto;
}

.mainContainer__taskListDiv__container {
  width: 100%;
  margin-top: 25px;
}

.mainContainer__taskListDiv__container .taskContainer {
  margin-top: 3px;
  width: 100%;
  min-height: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9f5db;
  color: #718355;
  border-radius: 5px;
  padding: 5px 0px;
}

.mainContainer__taskListDiv__container .taskContainer .taskLineDividerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20px;
  height: 100%;
}

.mainContainer__taskListDiv__container .taskContainer .taskLineDividerDiv .taskLineDivider {
  height: 80%;
  width: 2px;
  background-color: #8292694f;
}

.mainContainer__taskListDiv__container .taskContainer .taskTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  width: 10%;
  margin-left: 10px;
  min-width: 114px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainContainer__taskListDiv__container .taskContainer .taskDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90px;
}

.mainContainer__taskListDiv__container .taskContainer .taskNote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainContainer__taskListDiv__container .taskContainer .taskButtons {
  margin-right: 10px;
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainContainer__taskListDiv__container .taskContainer .taskButtons .taskDelete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  color: #7183551e;
}

.mainContainer__taskListDiv__container .taskContainer .taskButtons .taskDelete:hover {
  cursor: pointer;
  color: #ee5a5a !important;
}

.mainContainer__taskListDiv__container .taskContainer .taskButtons .taskEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  color: #7183551e;
}

.mainContainer__taskListDiv__container .taskContainer .taskButtons .taskEdit:hover {
  cursor: pointer;
  color: black !important;
}

.mainContainer__taskListDiv__container .taskContainer:hover .taskButtons .taskDelete {
  color: #718355;
}

.mainContainer__taskListDiv__container .taskContainer:hover .taskButtons .taskEdit {
  color: #718355;
}

.dangerColour {
  background-color: #ee5a5a !important;
  font-size: 2rem;
}

.dangerColour::-webkit-input-placeholder {
  color: black !important;
}

.dangerColour:-ms-input-placeholder {
  color: black !important;
}

.dangerColour::-ms-input-placeholder {
  color: black !important;
}

.dangerColour::placeholder {
  color: black !important;
}

.currentlySelected {
  background-color: #718355 !important;
}

.currentlySelectedFontColour {
  color: #e9f5db !important;
}

.completedTask {
  background-color: #bbbbbb !important;
  color: lightgray !important;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #718355;
  color: #e9f5db;
  min-height: 10vh;
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */