@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

$primary-colour: #003049;
$secondary-colour: #669bbc;
$danger-colour: #c1121f;
$danger-colour-hover: #780000;
$cta-colour: #e7d7ad;
$cta-colour-hover: #72705e;
$main-font: 'Cabin', sans-serif;

*{
	margin: 0;
	padding: 0;
	font-family: $main-font;
}


.container {
	width: 100vw;
}

#taskInputForm{
	display: flex;
	flex-direction: column;
}

header{
	
	width: 100%;
	background-color: $primary-colour;
	height: 10vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

footer {
	width: 100%;
	height: 4vh;
	background-color: $primary-colour;
	color: white;
}

#undefined {
	display: flex;
	align-items: center;
	justify-content: center;
}


@media (min-width: 900px) {
	.content {
		height: 86vh;
		display: flex;

		#projects{
			width: 15%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			background-color: $secondary-colour;

			#projectsContainer{
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow: hidden;


				h1{
					width: 100%;
					color: $primary-colour;
					font-size: 2.5rem;
					text-align: center;
					margin-top: 5px;
				}
				form{
					width: 95%;
					margin: 10px 0px;

					input {
						width: 100%;
						border: none;
						height: 2rem;
						font-size: 1.1rem;
						text-align: center;
					}

					input:focus{
						background-color: $primary-colour;
						color: white;
					}

					button{
						margin-top: 5px;
						width: 100%;
						background-color: $cta-colour;
						height: 1.5em;
						border: none;
					}

					button:hover{
						background-color: $cta-colour-hover;
						cursor: pointer;
					}
				}

				#projectsList {
					width: 100%;

					.projectListLI{
						height: 2rem;
						display: flex;
						justify-content: space-between;

						.deleteProjectDiv{
							display: flex;
							justify-content: center;
							align-items: center;
							width: 15%;
							background-color: $danger-colour;
						}

						.deleteProjectDiv:hover{
							cursor: pointer;
							background-color: $danger-colour-hover;
						}

						.currentlyselected {
							background-color: $primary-colour;
							color: white;
						}

						.addProjectDiv {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							width: 100%;
							font-weight: bold;
						}

						.addProjectDiv:hover{
							background-color: $primary-colour;
							cursor: pointer;
							color: white;
							font-weight: bold;
						}
						
					}
				}
			}

			.taskInputDiv{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $primary-colour;
				border-radius: 0px 25px 0px 0px;
				width: 100%;
				height: 35%;
				color: white;
				#taskInputForm {
					display: flex;
					flex-direction: column;
					justify-content: space-between
					;
					
					width: 80%;
					height: 85%;
					.taskHeader{
						text-align: center;
						font-size: 2rem;
					}
					.titleHeader{
						display: flex;
						justify-content: space-between;
	
						.errorForm {
							display: none;
							color: $danger-colour;
						}
					}
	
					button{
						background-color: $cta-colour;
						color: #2A1E30;
						margin-top: 5px;
						border: none;
						padding: 5px 0px;
						border-radius: 5px;
					}
	
					button:hover {
						cursor: pointer;
						background-color: $cta-colour-hover;
					}
				}
			}
			
	
		}

		#list{
			width: 85%;
			height: 100%;
			#allTasksContainer{
				display: flex;
				height: 100%;
				flex-direction: column;
				align-items: center;
				.taskContainer{
					display: flex;
					width: 98%;
					margin-top: 10px;
					height: 2rem;
					background-color: $secondary-colour;
					.titleTaskContainer{
						display: flex;
						align-items: center;
						width: 10%;
						font-weight: bold;
					}
					
					.dateTaskContainer{
						display: flex;
						align-items: center;
						width: 10%;
					}

					.descriptionTaskContainer{
						display: flex;
						align-items: center;
						width: 78%;
					}

					.deleteTaskContainer{
						background-color: $danger-colour;
						width: 3%;
						display: flex;
						justify-content: center;
						align-items: center;
						img{
							height: 25px;
							width: 25px;
						}
					}

					.deleteTaskContainer:hover{
						cursor: pointer;
						background-color: $danger-colour-hover;
					}

				}

				.taskContainer:hover{
					cursor: pointer;
				}

				.completed{
					color: rgb(65, 62, 62);
					background-color: rgb(187, 178, 178);
					text-decoration: line-through;

					.deleteTaskContainer{
						background-color: #57383a;

					}

				}
		}
		}

	}
}

@media (max-width: 900px){
	.content {
		min-height: 86vh;
	}

}

